h1 {
  text-align: center;
  font-size: xx-large;
  text-shadow: 2px 2px 4px #000000;

}

h2 {
  font-style: italic;
  text-align: center;
}
.col-md-4 {
  background-color: #a5b3ce
}

body {
  background-color: blue
}

.p {
  font-size: 100px
}
