h1 {
  text-align: center;
  font-size: xx-large;
  text-shadow: 2px 2px 4px #000000;

}

h2 {
  font-style: italic;
  text-align: center;
}
.col-md-4 {
  background-color: #a5b3ce
}

.col-md-6 {
  background-color: silver
}


.p {
  font-size: 100px
}

.image1 {
  float: left;
}

.jahborder {
  border: 4px solid black;
  padding: 16px;
}

.jahborder1 {
    border: 1px solid black;
    padding: 1px;
{
